---
const banners = [
    { id: 1, title: "1st-banner", imgLg: "/src/assets/images/banner-1.webp", imgSm: "/src/assets/images/banner-small-1.webp"},
    { id: 2, title: "2nd-banner", imgLg: "src/assets/images/banner-2.webp", imgSm: "/src/assets/images/banner-small-2.webp" },
]
---

<!-- Banners Section -->
<section>
  <div class="swiper main-banner group">
    <div class="swiper-wrapper">
      {banners.map((banner) => (
        <div class="swiper-slide">
          <a href="#">
            <!-- Desktop -->
            <img
              src={banner.imgLg}
              alt={`${banner.title}-desktop`}
              class="mx-auto hidden aspect-[2/1] object-cover sm:block md:aspect-[3/1] lg:aspect-auto"
            />
            <!-- Mobile -->
            <img
              src={banner.imgSm}
              alt={`${banner.title}-mobile`}
              class="aspect-[2/1] object-cover sm:hidden"
            />
          </a>
        </div>
      ))}
    </div>
    <div
      class="swiper-button-next main-banner-nav-button !right-[50px]"
    ></div>
    <div class="swiper-button-prev main-banner-nav-button"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>